h2 {
    margin: 0;
    font-size: 2rem;
}

section {
    display: flex;
    align-items: stretch;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    section {
        display: block;
        align-items: normal;
    }
}

section > div {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow-wrap: break-word;
    flex-basis: 0;
    flex-grow: 1;
}

section > div p {
    margin: 0;
    font-size: 1.2rem;
    text-align: center;
}
